@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

////////// COLOR SYSTEM //////////
/// 
/// 
//$secondary:     $gray-300;
//$tertiary:      $pink;
//$neutral:       $white;
//$success:       $green;
//$info:          $cyan;
//$warning:       $pink-400;
//$danger:        $red-400;
//$light:         $gray-200;
//$dark:          $gray-900;



$color-primary: #3366ff;

// Body
$body-bg: #fff;
//$body-bg: #f8fafc;
// Typography
$font-family-sans-serif: 'Roboto', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$body-color: #343a40;

$gradient-blue: linear-gradient(120deg, #2f78e9, #128bfc, #18bef1);






////////// SIDEBAR ////////
$sidebar-menu-active-color: $color-primary;