@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

////////// COLOR SYSTEM //////////

$color-primary: $purple-500;
$color-secondary: #1E6091;
$color-success: #52B69A;
$color-info: #1A759F;
$color-warning: #ffaf00;
$color-danger: $red-600;
$color-light: #fbfbfb;
$color-dark: #252c46;



// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.875rem;
$line-height-base: 1.6;
$body-color: #343a40;

$gradient-blue: linear-gradient(120deg, #2f78e9, #128bfc, #18bef1);


////////// SIDEBAR ////////
$sidebar-menu-active-color: $color-primary;